@charset "UTF-8";
/*----------------------------------------
  reset
-----------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500&display=swap);
/* line 7, ../_base.scss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 84, ../_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 94, ../_base.scss */
html {
  box-sizing: border-box;
}

/* line 97, ../_base.scss */
*:before,
*:after {
  box-sizing: inherit;
}

/* line 102, ../_base.scss */
body {
  line-height: 1;
}

/* line 106, ../_base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 120, ../_base.scss */
p {
  text-align: justify;
}

/* line 124, ../_base.scss */
nav ul {
  list-style: none;
}

/* line 128, ../_base.scss */
blockquote,
q {
  quotes: none;
}

/* line 133, ../_base.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 141, ../_base.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 151, ../_base.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 158, ../_base.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 165, ../_base.scss */
del {
  text-decoration: line-through;
}

/* line 169, ../_base.scss */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 175, ../_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 181, ../_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 190, ../_base.scss */
input,
select {
  vertical-align: middle;
  outline: 0;
}

/* line 196, ../_base.scss */
ul,
li {
  list-style: none;
}

/* line 202, ../_base.scss */
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="tel"],
input[type="email"] {
  -webkit-appearance: none;
  border: none;
  box-sizing: border-box;
}

/* line 211, ../_base.scss */
input[type="text"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 0;
  background-color: #fff;
}

/* line 221, ../_base.scss */
input:-internal-autofill-selected {
  background-color: #fff !important;
}

/* line 224, ../_base.scss */
input[type="text"]:focus:placeholder-shown,
input[type="button"]:focus:placeholder-shown,
input[type="submit"]:focus:placeholder-shown,
input[type="tel"]:focus:placeholder-shown,
input[type="email"]:focus:placeholder-shown,
textarea:focus:placeholder-shown {
  color: #ddd;
}

/* line 232, ../_base.scss */
input[type="text"]:focus:-webkit-input-placeholder,
input[type="button"]:focus:-webkit-input-placeholder,
input[type="submit"]:focus:-webkit-input-placeholder,
input[type="tel"]:focus:-webkit-input-placeholder,
input[type="email"]:focus:-webkit-input-placeholder,
textarea:focus:-webkit-input-placeholder {
  color: #ddd;
}

/* line 240, ../_base.scss */
input[type="text"]:focus:-moz-placeholder,
input[type="button"]:focus:-moz-placeholder,
input[type="submit"]:focus:-moz-placeholder,
input[type="tel"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: #ddd;
}

/* line 248, ../_base.scss */
input[type="text"]:focus:-ms-input-placeholder,
input[type="button"]:focus:-ms-input-placeholder,
input[type="submit"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: #ddd;
}

/* line 256, ../_base.scss */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
}

/* line 271, ../_base.scss */
input[type="text"]:placeholder-shown,
input[type="email"]:placeholder-shown,
input[type="tel"]:placeholder-shown {
  color: #ddd;
}

/* line 276, ../_base.scss */
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #ddd;
}

/* line 281, ../_base.scss */
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ddd;
}

/* line 288, ../_base.scss */
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #fff;
}

/* line 294, ../_base.scss */
textarea {
  resize: vertical;
}

/* line 297, ../_base.scss */
textarea:placeholder-shown {
  color: #ddd;
}

/* line 300, ../_base.scss */
textarea::-webkit-input-placeholder {
  color: #ddd;
}

/* line 303, ../_base.scss */
textarea::-moz-placeholder {
  color: #ddd;
}

/* line 308, ../_base.scss */
input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
  transition: 0.1s;
}

/* line 314, ../_base.scss */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
  transition: 0.1s;
}

/* line 320, ../_base.scss */
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
  transition: 0.1s;
}

/* line 326, ../_base.scss */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
  transition: 0.1s;
}

/* line 331, ../_base.scss */
button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/*スマートフォンサイトでaタグをタップしたときにでるハイライトの色を消す*/
/* line 338, ../_base.scss */
a {
  -webkit-tap-highlight-color: transparent;
  color: #212121;
}
@media screen and (min-width: 896px) {
  /* line 338, ../_base.scss */
  a {
    transition: 0.3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }
  /* line 346, ../_base.scss */
  a:hover {
    transition: 0.3s;
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }
}

/* line 356, ../_base.scss */
table {
  border-collapse: collapse;
  border: none;
  border-spacing: 0;
  width: 100%;
}

/* line 362, ../_base.scss */
th,
td {
  vertical-align: middle;
  border: solid 1px #000;
  font-weight: normal;
  text-align: left;
  border: 0;
}

/* line 370, ../_base.scss */
caption {
  text-align: left;
}

/* line 374, ../_base.scss */
html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-display: swap;
  color: #1e2128;
}

/* line 385, ../_base.scss */
body {
  overflow-x: hidden;
}
@media screen and (max-width: 896px) {
  /* line 388, ../_base.scss */
  body.sp_fix {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

/* line 396, ../_base.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* line 402, ../_base.scss */
.slick-list:focus {
  outline: none !important;
}

/* line 69, ../_module.scss */
.mincho {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
}

/* line 73, ../_module.scss */
.light {
  font-weight: 300;
}

/* line 76, ../_module.scss */
.regular {
  font-weight: 400;
}

/* line 79, ../_module.scss */
.medium {
  font-weight: 500;
}

/* line 82, ../_module.scss */
.bold {
  font-weight: 700;
}

/* line 85, ../_module.scss */
.en {
  font-family: "Trajan Pro", sans-serif;
}

/* line 90, ../_module.scss */
.tel.no_link {
  pointer-events: none;
}

/* line 95, ../_module.scss */
.flx {
  display: flex;
}
/* line 97, ../_module.scss */
.flx.reverse {
  flex-direction: row-reverse;
}
/* line 100, ../_module.scss */
.flx.jfc_sb {
  justify-content: space-between;
}
/* line 103, ../_module.scss */
.flx.jfc_c {
  justify-content: center;
}
/* line 106, ../_module.scss */
.flx.aic {
  align-items: center;
}
/* line 109, ../_module.scss */
.flx.clm {
  flex-direction: column;
}
/* line 111, ../_module.scss */
.flx.clm > * {
  min-height: 0%;
}

/* line 116, ../_module.scss */
.ablt {
  position: absolute;
}

/* line 121, ../_module.scss */
.lead {
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: 0.05em;
}
/* line 38, ../_module.scss */
.lead::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.75) * 0.5em);
  content: "";
}
/* line 45, ../_module.scss */
.lead::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.75) * 0.5em);
  content: "";
}
@media screen and (max-width: 896px) {
  /* line 121, ../_module.scss */
  .lead {
    font-size: 1.4rem;
    text-align: justify;
    text-justify: inter-ideograph;
  }
}

/* line 169, ../_module.scss */
.vertical {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -o-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 896px) {
  /* line 169, ../_module.scss */
  .vertical {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
  }
}

/* line 4, ../_layout.scss */
.sp {
  display: none;
}
@media screen and (max-width: 896px) {
  /* line 4, ../_layout.scss */
  .sp {
    display: block;
  }
}

@media screen and (max-width: 896px) {
  /* line 10, ../_layout.scss */
  .pc {
    display: none;
  }
}

/* line 16, ../_layout.scss */
#stage {
  overflow-x: hidden;
}

/* line 24, ../_layout.scss */
.outer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 30, ../_layout.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.4s;
  width: 100%;
}
@media screen and (min-width: 897px) {
  /* line 30, ../_layout.scss */
  .header {
    display: flex;
    justify-content: space-between;
    padding: 16px 5%;
  }
}
@media screen and (max-width: 896px) {
  /* line 30, ../_layout.scss */
  .header {
    z-index: 10001;
    padding: 10px 5%;
  }
  /* line 45, ../_layout.scss */
  .header.slideIn {
    background-color: #1e2128;
    border-bottom: 0;
    filter: none !important;
  }
  /* line 50, ../_layout.scss */
  .header.slideIn .header_inner .logo {
    filter: invert(1);
  }
}
@media screen and (max-width: 896px) {
  /* line 56, ../_layout.scss */
  .header .header_inner {
    position: relative;
    z-index: 100;
    justify-content: space-between;
  }
}
@media screen and (min-width: 897px) {
  /* line 62, ../_layout.scss */
  .header .header_inner .logo {
    width: 170px;
  }
}
@media screen and (max-width: 896px) {
  /* line 62, ../_layout.scss */
  .header .header_inner .logo {
    width: 120px;
  }
}
/* line 70, ../_layout.scss */
.header .header_inner .lead {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 1.2rem;
}
@media screen and (max-width: 896px) {
  /* line 77, ../_layout.scss */
  .header .menubtn {
    position: relative;
    width: 40px;
    height: 20px;
  }
  /* line 83, ../_layout.scss */
  .header .menubtn.close .bar {
    background-color: #fff;
  }
  /* line 85, ../_layout.scss */
  .header .menubtn.close .bar:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  /* line 89, ../_layout.scss */
  .header .menubtn.close .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(100px, -50%);
    opacity: 0;
  }
  /* line 94, ../_layout.scss */
  .header .menubtn.close .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  /* line 100, ../_layout.scss */
  .header .menubtn .bar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s ease;
  }
  /* line 108, ../_layout.scss */
  .header .menubtn .bar:nth-of-type(1) {
    top: 15px;
  }
  /* line 111, ../_layout.scss */
  .header .menubtn .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* line 115, ../_layout.scss */
  .header .menubtn .bar:nth-of-type(3) {
    bottom: 15px;
  }
}

@media screen and (max-width: 896px) {
  /* line 123, ../_layout.scss */
  .nav {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    width: 100%;
    height: 100%;
    padding: 120px 5%;
    background-color: #1e2128;
    transition: 0.35s ease;
  }
  /* line 137, ../_layout.scss */
  .nav.slideIn {
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 896px) {
  /* line 141, ../_layout.scss */
  .nav ul {
    display: block;
  }
}
@media screen and (min-width: 897px) {
  /* line 145, ../_layout.scss */
  .nav ul li {
    margin-left: 40px;
  }
}
@media screen and (max-width: 896px) {
  /* line 145, ../_layout.scss */
  .nav ul li {
    margin-bottom: 50px;
  }
}
/* line 152, ../_layout.scss */
.nav ul li a {
  display: block;
  transition: 0.3s;
  color: #fff;
}
@media screen and (min-width: 897px) {
  /* line 152, ../_layout.scss */
  .nav ul li a {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 896px) {
  /* line 152, ../_layout.scss */
  .nav ul li a {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #fff;
    text-align: center;
  }
}
/* line 167, ../_layout.scss */
.nav ul li a.contact_btn {
  color: #fff;
  padding: 18px 40px;
  background: #006bb2;
}
@media screen and (max-width: 896px) {
  /* line 167, ../_layout.scss */
  .nav ul li a.contact_btn {
    position: relative;
    padding: 30px 0;
    background-color: #dde5e7;
    color: #222121;
  }
  /* line 176, ../_layout.scss */
  .nav ul li a.contact_btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 45px;
    height: 10px;
    background-color: #000;
  }
}
@media screen and (max-width: 896px) {
  /* line 192, ../_layout.scss */
  .nav ul.submenu li {
    margin-bottom: 20px;
    text-align: center;
  }
  /* line 196, ../_layout.scss */
  .nav ul.submenu a {
    display: inline-block;
    padding-right: 18px;
    background-image: url(../../img/common/icon_outlink.png);
    background-size: 10px;
    background-position: right center;
    background-repeat: no-repeat;
    font-size: 1.2rem;
    color: #919bb3;
  }
}

/* line 211, ../_layout.scss */
.contact_area {
  position: relative;
}
@media screen and (min-width: 897px) {
  /* line 211, ../_layout.scss */
  .contact_area {
    padding: 130px 0;
    background-position: center bottom;
    background-color: #e2e9ed;
  }
}
@media screen and (max-width: 896px) {
  /* line 211, ../_layout.scss */
  .contact_area {
    position: relative;
    padding: 60px 0 120px;
    background-position: 75% 0;
  }
  /* line 222, ../_layout.scss */
  .contact_area:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
  }
}
/* line 232, ../_layout.scss */
.contact_area .contact_svg {
  position: absolute;
  top: 115px;
  width: 100%;
  padding: 0 10%;
}
/* line 240, ../_layout.scss */
.contact_area .ttl_area h2 {
  font-size: 6rem;
  letter-spacing: 0.02em;
  font-weight: lighter;
  color: #005b98;
  text-align: center;
}
/* line 247, ../_layout.scss */
.contact_area .ttl_area .contact_txt {
  font-size: 2.4rem;
  letter-spacing: 0.06em;
  padding-top: 20px;
  text-align: center;
  font-family: "Noto Serif JP";
}
/* line 254, ../_layout.scss */
.contact_area .ttl_area .contact_tel {
  font-size: 2.2rem;
  letter-spacing: 0.06em;
  padding: 30px 0;
  text-align: center;
}
/* line 261, ../_layout.scss */
.contact_area .contactbtn {
  margin: 0 auto 0;
  position: relative;
  display: block;
  padding: 20px 20px;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  color: #005b98;
  border: 2px solid #005b98;
  border-left: 10px solid #005b98;
}
@media screen and (min-width: 897px) {
  /* line 261, ../_layout.scss */
  .contact_area .contactbtn {
    width: 310px;
  }
  /* line 194, ../_module.scss */
  .contact_area .contactbtn:hover {
    background-color: #005b98;
    color: #fff;
  }
}
@media screen and (max-width: 896px) {
  /* line 261, ../_layout.scss */
  .contact_area .contactbtn {
    width: 84%;
  }
}
/* line 202, ../_module.scss */
.contact_area .contactbtn::before {
  content: "";
  height: 1px;
  width: 30px;
  background-color: #005b98;
  position: absolute;
  right: 20px;
  top: 50%;
  transition: 0.3s;
}
/* line 212, ../_module.scss */
.contact_area .contactbtn::after {
  content: "";
  height: 1px;
  background-color: #005b98;
  position: absolute;
  right: 20px;
  top: 50%;
  transition: 0.3s;
  width: 10px;
  transform: rotate(45deg) translateY(-4px);
}
/* line 223, ../_module.scss */
.contact_area .contactbtn:hover::before, .contact_area .contactbtn:hover::after {
  background-color: #fff;
  right: 15px;
}

/* line 267, ../_layout.scss */
.footer {
  background-color: #020a14;
}
@media screen and (max-width: 896px) {
  /* line 269, ../_layout.scss */
  .footer .inner {
    padding-left: 5%;
    padding-right: 5%;
  }
}
/* line 274, ../_layout.scss */
.footer .inner .logo_wrap {
  background-color: #00132b;
}
@media screen and (min-width: 897px) {
  /* line 274, ../_layout.scss */
  .footer .inner .logo_wrap {
    padding-top: 86px;
  }
}
/* line 279, ../_layout.scss */
.footer .inner .logo_wrap .logo {
  text-align: center;
}
@media screen and (min-width: 897px) {
  /* line 279, ../_layout.scss */
  .footer .inner .logo_wrap .logo {
    width: 420px;
  }
}
/* line 284, ../_layout.scss */
.footer .inner .logo_wrap .logo svg {
  width: 45.5%;
}
@media screen and (max-width: 896px) {
  /* line 279, ../_layout.scss */
  .footer .inner .logo_wrap .logo {
    margin: auto;
  }
}
/* line 291, ../_layout.scss */
.footer .inner .logo_wrap .contactbtn {
  position: relative;
  display: block;
  padding: 20px 20px;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  color: #005b98;
  border: 2px solid #005b98;
  border-left: 10px solid #005b98;
  margin: 48px auto 24px;
  color: #fff;
}
@media screen and (min-width: 897px) {
  /* line 291, ../_layout.scss */
  .footer .inner .logo_wrap .contactbtn {
    width: 310px;
  }
  /* line 194, ../_module.scss */
  .footer .inner .logo_wrap .contactbtn:hover {
    background-color: #005b98;
    color: #fff;
  }
}
@media screen and (max-width: 896px) {
  /* line 291, ../_layout.scss */
  .footer .inner .logo_wrap .contactbtn {
    width: 84%;
  }
}
/* line 202, ../_module.scss */
.footer .inner .logo_wrap .contactbtn::before {
  content: "";
  height: 1px;
  width: 30px;
  background-color: #005b98;
  position: absolute;
  right: 20px;
  top: 50%;
  transition: 0.3s;
}
/* line 212, ../_module.scss */
.footer .inner .logo_wrap .contactbtn::after {
  content: "";
  height: 1px;
  background-color: #005b98;
  position: absolute;
  right: 20px;
  top: 50%;
  transition: 0.3s;
  width: 10px;
  transform: rotate(45deg) translateY(-4px);
}
/* line 223, ../_module.scss */
.footer .inner .logo_wrap .contactbtn:hover::before, .footer .inner .logo_wrap .contactbtn:hover::after {
  background-color: #fff;
  right: 15px;
}
/* line 296, ../_layout.scss */
.footer .inner .logo_wrap .footer_access {
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.08em;
  line-height: 1.8;
  padding: 0 13% 96px;
}
/* line 306, ../_layout.scss */
.footer .footer_menu {
  width: 78%;
  padding-top: 90px;
  padding-left: 72px;
  padding: 90px 5% 0 72px;
}
@media screen and (min-width: 897px) {
  /* line 311, ../_layout.scss */
  .footer .footer_menu .sitemap {
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 896px) {
  /* line 311, ../_layout.scss */
  .footer .footer_menu .sitemap {
    margin-top: 48px;
  }
}
/* line 320, ../_layout.scss */
.footer .footer_menu .sitemap .block {
  display: block;
}
@media screen and (min-width: 897px) {
  /* line 320, ../_layout.scss */
  .footer .footer_menu .sitemap .block {
    width: 20%;
    margin-bottom: 60px;
  }
}
/* line 326, ../_layout.scss */
.footer .footer_menu .sitemap .block a {
  font-size: 1.4rem;
  letter-spacing: 0.08em;
  color: #fff;
}
@media screen and (max-width: 896px) {
  /* line 331, ../_layout.scss */
  .footer .footer_menu .sitemap .block ul {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 897px) {
  /* line 335, ../_layout.scss */
  .footer .footer_menu .sitemap .block ul li {
    margin-top: 19px;
  }
}
@media screen and (max-width: 896px) {
  /* line 335, ../_layout.scss */
  .footer .footer_menu .sitemap .block ul li {
    width: 50%;
    margin-bottom: 32px;
    text-align: center;
  }
}
/* line 344, ../_layout.scss */
.footer .footer_menu .sitemap .block ul li a {
  font-size: 1.4rem;
  letter-spacing: 0.08em;
  color: #707483;
}
/* line 354, ../_layout.scss */
.footer .footer_menu .shop_banner {
  width: 20%;
  max-width: 250px;
  margin-left: auto;
  margin-top: -30px;
  padding-bottom: 30px;
}
/* line 362, ../_layout.scss */
.footer .footer_menu .footer_items .linkarea {
  border-top: 1px solid #253244;
  padding-top: 30px;
}
/* line 365, ../_layout.scss */
.footer .footer_menu .footer_items .linkarea ul {
  display: flex;
}
/* line 368, ../_layout.scss */
.footer .footer_menu .footer_items .linkarea li {
  width: 40px;
  margin-right: 10px;
}
/* line 372, ../_layout.scss */
.footer .footer_menu .footer_items .linkarea a {
  display: inline-block;
  padding-right: 18px;
  background-image: url(../../img/common/icon_outlink.png);
  background-size: 10px;
  background-position: right center;
  background-repeat: no-repeat;
  font-size: 1rem;
  color: #919bb3;
}
/* line 383, ../_layout.scss */
.footer .footer_menu .footer_items .linkarea .copyright_links a {
  margin-right: 20px;
}
@media screen and (max-width: 896px) {
  /* line 386, ../_layout.scss */
  .footer .footer_menu .footer_items .linkarea .copyright_links .copyright {
    margin-top: 32px;
    text-align: center;
  }
}
/* line 391, ../_layout.scss */
.footer .footer_menu .footer_items .linkarea .copyright_links .copyright small {
  font-size: 1rem;
  color: #919bb3;
}

/* line 14, ../_states.scss */
.hvrop {
  transition: 0.3s;
}
@media screen and (min-width: 897px) {
  /* line 17, ../_states.scss */
  .hvrop:hover {
    opacity: 0.7;
  }
}

/* line 22, ../_states.scss */
.underline {
  position: relative;
}
/* line 24, ../_states.scss */
.underline::after {
  content: "";
  background: #dadada;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -4px;
  left: 0;
  transform: scale(0, 1);
  transition: transform 0.3s;
  transform-origin: right top;
}
@media screen and (min-width: 897px) {
  /* line 38, ../_states.scss */
  .underline:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

/* line 46, ../_states.scss */
.hoverScale .thumb {
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.4, 0.1, 0.3, 1);
}
/* line 49, ../_states.scss */
.hoverScale .thumb .scaleImg {
  transition: transform 0.4s cubic-bezier(0.4, 0.1, 0.3, 1);
}
/* line 51, ../_states.scss */
.hoverScale .thumb .scaleImg img {
  backface-visibility: hidden;
}
@media screen and (min-width: 897px) {
  /* line 58, ../_states.scss */
  .hoverScale:hover .thumb {
    transform: scale(0.95);
  }
  /* line 60, ../_states.scss */
  .hoverScale:hover .thumb .scaleImg {
    transform: scale(1.15);
  }
}

/* line 68, ../_states.scss */
svg {
  width: 100%;
  height: auto;
}

/* line 75, ../_states.scss */
.svg_anim svg {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: 1s;
}
/* line 81, ../_states.scss */
.svg_anim.on svg {
  stroke-dashoffset: 2000;
}

/* line 87, ../_states.scss */
.fade_y {
  transform: translateY(3%);
  opacity: 0;
  transition: 0.75s;
}
/* line 91, ../_states.scss */
.fade_y.on {
  opacity: 1;
  transform: translateY(0%);
}

/* line 97, ../_states.scss */
.scr_cvr {
  overflow: hidden;
  position: relative;
  display: block;
  opacity: 0;
  transition: 0.5s;
}
/* line 103, ../_states.scss */
.scr_cvr::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #000;
  transition: all 0.6s cubic-bezier(0.5, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
/* line 115, ../_states.scss */
.scr_cvr.on {
  opacity: 1;
}
/* line 117, ../_states.scss */
.scr_cvr.on::before {
  right: -100%;
  transition-delay: 0.3s;
}

@media screen and (min-width: 897px) {
  /* line 4, _message.scss */
  .message {
    padding-top: 10vw;
  }
}
@media screen and (max-width: 896px) {
  /* line 4, _message.scss */
  .message {
    padding-top: 21vw;
  }
}
